.index_content{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list_content{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 40%;
  text-align: left;
}

.matches_content{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 60%;
}
