<nz-layout class="layout">
  <nz-sider>
    <br>
    <div style="display: flex; align-content: center; justify-content: center">
      <nz-date-picker [nzAllowClear]="false" [(ngModel)]="date" (ngModelChange)="onChange($event)"
                      [nzInputReadOnly]="true"></nz-date-picker>
    </div>
    <nz-divider></nz-divider>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item (click)="selected = 1" [nzSelected]="selected==1">
        <i nz-icon nzType="alert" nzTheme="fill"></i>
        <span>Ao vivo <nz-badge [nzStatus]="liveSchedules.length>0?'success':'default'"></nz-badge></span>
      </li>
      <li nz-menu-item (click)="selected = 2" [nzSelected]="selected==2">
        <i nz-icon nzType="alert" nzTheme="outline"></i>
        <span>A seguir <nz-badge [nzStatus]="nextSchedules.length>0?'success':'default'"></nz-badge></span>
      </li>
      <li nz-menu-item (click)="selected = 3" [nzSelected]="selected==3">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <span>Jogos da data <nz-badge [nzStatus]="dateSchedules.length>0?'success':'default'"></nz-badge></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>

    </nz-header>
    <nz-content>
      <div class="inner-content">
          <app-index [schedules]="getSchedules(selected)"></app-index>
      </div>
    </nz-content>
    <nz-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>
